{% extends 'layout.html' %}

{% block title %}
developer
{% endblock %}

{% block style %}
<style>

    #card{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .fa {
        padding: 8px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
    .fa-instagram {
        background: #bd1748;
        color: white;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
</style>
{% endblock %}

{% block body %}
<center>
    <div id = "card">
        <div class="card" style="width: 18rem;">
           
            <div class="card-body">
              <h5 class="card-title">Akshita--Harshit--Vineet--Aditya</h5>
              
              
            </div>
        </div>
    </div>
    
</center>
{% endblock %}